<h2>Edit To Do:</h2>

<form action="/todos/update/{{this.id}}?_method=put" method="post" accept-charset="utf-8">
    <p>
        <label>Title:</label>
        <input type="text" value="{{this.title}}" name="title" id="" />
    </p>
    <p>
        <label>Description:</label>
        <input type="text" value="{{this.description}}" name="description" id="" />
        <p>
            <label>Complete:</label>
            {{#if complete}}
            <input type="checkbox" name="complete" id="complete" checked />
            {{else}}
            <input type="checkbox" name="complete" id="complete" />
            {{/if}}
        </p>
        <input type="submit" value="Update" />
</form>

<form action="/todos/delete/{{this.id}}?_method=delete" method="post">
    <input type="submit" value="Remove">
</form>